@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

// $border_line_color: rgb(213, 171, 215);
// $bg_hover_color: rgb(203, 191, 214);
$main_bg_color: rgb(148, 111, 185);
$default_bg_color: rgb(45, 43, 43);
$h1_size: 2rem;
$h2_size: 1.5rem;
$h3_size: 1.3rem;
$main_border_radius: 5px;

body {
    font-family: 'Inconsolata', monospace;
}

a {
    outline: none;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
.section {
    // max-width: 90%;
    padding: 1rem;
    box-shadow: 0 0 1rem lighten($main_bg_color, 10%);
    border-radius: $main_border_radius;
    margin: 2rem 0;
}
.header {
    margin: 2rem auto;
    border-bottom: 1px solid $main_bg_color;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    &__logo {
        font-size: $h1_size;
        font-weight: 700;
    }
    &__icon {
        width: 2.5rem;
    }

    .navbar {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0;

        &__link {
            transition: 0.2s;
            color: darken($main_bg_color, 20%);
            margin: 0 0.8rem;
            font-size: $h3_size;
            text-transform: capitalize;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;

            &:hover {
                color: whitesmoke;
                background-color: lighten($main_bg_color, 5%);
                box-shadow: 0 0 5px $main_bg_color;
            }
        }
    }
}
.home {
    display: flex;
    flex-direction: row;
    height: 100%;
    &__photo {
        max-width: 40%;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
        border-radius: $main_border_radius;
        box-shadow: 0 0 5px $default_bg_color;
    }
    &__text {
        margin-left: 1.5rem;
    }
    &__title {
        font-size: $h2_size;
        font-weight: 700;
        text-transform: capitalize;
    }
    &__subtitle {
        display: inline-block;
        padding: 0.2rem 1rem;
        font-size: $h2_size;
        color: whitesmoke;
        text-transform: uppercase;
        background-color: $main_bg_color;
    }
    &__description {
        h3 {
            font-size: $h2_size;
        }
        ul {
            list-style-type: square;
            font-size: 1.2rem;
        }
        li {
            span {
                background-color: $main_bg_color;
                padding: 0 0.2rem;
                color: whitesmoke;
            }
        }
    }
}

.skills {
    &__title {
        font-size: $h2_size;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__item {
        // width: 150px;

        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 120px;
        height: fit-content;
    }
    &__img {
        width: 100px;
        align-self: center;
    }
    &__describ {
        font-size: $h3_size;
        text-align: center;
        text-transform: lowercase;
        margin: 1rem 0;
    }
}
