@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$main_bg_color: rgb(151, 119, 210);
$default_bg_color: rgb(121, 121, 121);
$h1_size: 1.8rem;
$h2_size: 1.4rem;
$h3_size: 1.1rem;
$main_border_radius: 5px;

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

a { 
    color:blue;
    outline: none;
    text-decoration: none;
}
a:visited {
    color: blue;
}

ul{
    list-style-type: none;

    li {
        line-height: 1.5rem;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;

}
.section {
    // max-width: 90%;
    padding: 2rem;
    box-shadow: 0 0 1rem lighten($main_bg_color, 10%);
    border-radius: $main_border_radius;
    margin: 2rem 0;
}
.header {
    margin: 2rem auto;
    border-bottom: 1px solid $main_bg_color;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    &__logo {
        font-size: $h1_size;
        font-weight: 700;
    }
    &__icon {
        width: 2.5rem;
    }

    .navbar {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0;

        &__link {
            transition: 0.2s;
            color: darken($main_bg_color, 20%);
            margin: 0 0.8rem;
            font-size: $h3_size;
            text-transform: capitalize;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;

            &:hover {
                color: whitesmoke;
                background-color: lighten($main_bg_color, 5%);
                box-shadow: 0 0 5px $main_bg_color;
            }
        }
    }
}
.home {
    display: flex;
    flex-direction: row;
    height: 100%;
    &__photo {
        max-width: 40%;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $main_border_radius;
        box-shadow: 0 0 5px $default_bg_color;
    }
    &__text {
        margin-left: 1.5rem;
    }
    &__title {
        font-size: $h2_size;
        font-weight: 700;
        text-transform: capitalize;
    }
    &__subtitle {
        display: inline-block;
        padding: 0.2rem 1rem;
        font-size: $h2_size;
        color: whitesmoke;
        text-transform: uppercase;
        background-color: $main_bg_color;
    }
    &__description {
        h3 {
            font-size: $h2_size;
        }
        ul {
            list-style-type: square;
            font-size: 1rem;
        }
        li {
            span {
                background-color: $main_bg_color;
                padding: 0 0.2rem;
                color: whitesmoke;
            }
        }
    }
}
.skills {
    &__title {
        font-size: $h2_size;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__item {
        // width: 150px;

        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 120px;
        height: fit-content;
    }
    &__img {
        height: 120px;
        width: 100px;
        object-fit: contain;
        align-self: center;
    }
    &__describ {
        font-size: $h3_size;
        text-align: center;
        text-transform: lowercase;
        margin: 1rem 0;
    }
}
.certif {
    &__header {
        font-size: $h2_size;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        padding: 1rem 0;
    }
    &__item {
        display: flex;
        margin-bottom: 2rem;
    }
    &__photo {
        max-width: 45%;
    }
    &__img {
        width: 100%;
        object-fit: cover;
        object-position: left;
        box-shadow: 0 0 5px $default_bg_color;
        box-sizing: border-box;
        border-radius: $main_border_radius;
        filter: grayscale(40%);
    }
    &__wrapper {
        margin-left: 2rem;
    }
    &__title {
        font-size: $h3_size;
        font-weight: 700;
        text-transform: capitalize;
        padding-bottom: 1rem;
    }
}
.projects {
    &__wrapper{
        padding: 0 1rem;
    }
    &__header {
        font-size: $h2_size;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0;
    }
    &__title {
        font-size: $h3_size;
        text-transform: capitalize;
        font-weight: 700;
    }
}
.contacts{
    &__header{
        font-size: $h2_size;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0;
    }
    &__wrapper{
        padding: 0 1rem;
    }
}
.footer{
    &__wrapper{
        text-align: center;
        padding: 2rem;
        border-top: 1px solid $main_bg_color;

    }
}


@media (max-width: 550px) {
    $size_index: 0.7;

    ul {
        padding-left: 1.5rem;
        font-size: 1rem * $size_index;
        list-style-type: none;
    
        li {
            line-height: 1rem;
        }
    }
    .container {
        width: 100vw;
    } 
    .section{
        margin: 1rem 0.5rem;
        padding: 0.5rem;
    }   
    .header{
        margin: 1rem 0;
        &__wrapper {
            padding: 0 0.5rem;
        }
        &__logo {
            font-size:$h1_size*$size_index
        }
        &__icon {
            width: 2.5rem * $size_index;
        }
        .navbar {
            display: flex;
            justify-content: center;
            margin: 0.5rem 0;
        
            &__link {
                margin: 0;
                font-size: $h3_size * $size_index;
            }
        }
    }
    .home {
        flex-direction: column;
        &__photo {
            max-width: 100%;
        }
        &__text {
            margin: 1rem 0;
        }
        &__title {
            font-size: $h2_size * $size_index;
        }
        &__subtitle {
            font-size: $h2_size * $size_index;
        }
        &__description {
            h3 {
                font-size: $h2_size * $size_index;
            }
            ul{
                font-size: 0.9rem;
                li{
                    line-height: 1.3rem;
                }
            }
        }
    }
    .skills {
        &__title {
            font-size: $h2_size * $size_index;
            font-weight: 700;
            text-align: center;
            padding: 1rem 0;
        }

        &__item {
            min-width: 120px * $size_index;
        }
    
        &__img {
            height: 120px * $size_index;
            width: 100px * $size_index;
        }
    
        &__describ {
            font-size: $h3_size * $size_index;
            margin: 0.5rem 0;
        }
    }
    
    .certif {
        &__header {
            font-size: $h2_size * $size_index;
            padding: 0.5rem 0;
        }
    
        &__item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }
    
        &__photo {
            max-width: 100%;
        }
    
        &__wrapper {
            margin-left: 1rem;
        }
    
        &__title {
            font-size: $h3_size;
            font-weight: 700;
            text-transform: capitalize;
            padding: 0.5rem;
        }
    }
    
    .projects {
        &__wrapper {
            padding: 0 1rem;
        }
    
        &__header {
            font-size: $h2_size;
            font-weight: 700;
            text-align: center;
            padding: 1rem 0;
        }
    
        &__title {
            font-size: $h3_size;
            text-transform: capitalize;
            font-weight: 700;
        }
    }
    
    .contacts {
        padding-bottom: 1rem;
        &__header {
            font-size: $h2_size;
            font-weight: 700;
            text-align: center;
            padding: 1rem 0;
        }
    
        &__wrapper {
            padding: 0 1rem;
        }
    }
    
    .footer {
        &__wrapper {
            font-size: 0.8rem;
            text-align: center;
            padding: 1rem;
            border-top: 1px solid $main_bg_color;
    
        }
    }
    
}
